@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-bg: #f8f9fa; /* Light mode */
  --primary-text: #212529;
  --accent-color: #3B82F6;
  --positive-color: #4CAF50;
  --negative-color: #F44336;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #1a1a1a;
    --primary-text: #e9ecef;
    --positive-color: #4CAF50;
    --negative-color: #F44336;
  }
}